{% extends 'base.html.twig' %}

{% block title %}Le quai antique - Modification Utilisateur!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Modification des données utilisateur</h1>
    {{ form(form) }}
</div>
{% endblock %}
